@font-face {
  font-family: "Dosis-Regular";
  src: url("https://scrollif-assets.netlify/websites/fonts/Dosis-Regular/fonts/Dosis.eot"); /* IE9 Compat Modes */
  src: url("https://scrollif-assets.netlify/websites/fonts/Dosis-Regular/fonts/Dosis.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://scrollif-assets.netlify/websites/fonts/Dosis-Regular/fonts/Dosis.otf") format("opentype"), /* Open Type Font */
    url("https://scrollif-assets.netlify/websites/fonts/Dosis-Regular/fonts/Dosis.svg") format("svg"), /* Legacy iOS */
    url("https://scrollif-assets.netlify/websites/fonts/Dosis-Regular/fonts/Dosis.ttf") format("truetype"), /* Safari, Android, iOS */
    url("https://scrollif-assets.netlify/websites/fonts/Dosis-Regular/fonts/Dosis.woff") format("woff"), /* Modern Browsers */
    url("https://scrollif-assets.netlify/websites/fonts/Dosis-Regular/fonts/Dosis.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("https://scrollif-assets.netlify/websites/fonts/Quicksand-Regular/fonts/Quicksand.eot"); /* IE9 Compat Modes */
  src: url("https://scrollif-assets.netlify/websites/fonts/Quicksand-Regular/fonts/Quicksand.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://scrollif-assets.netlify/websites/fonts/Quicksand-Regular/fonts/Quicksand.otf") format("opentype"), /* Open Type Font */
    url("https://scrollif-assets.netlify/websites/fonts/Quicksand-Regular/fonts/Quicksand.svg") format("svg"), /* Legacy iOS */
    url("https://scrollif-assets.netlify/websites/fonts/Quicksand-Regular/fonts/Quicksand.ttf") format("truetype"), /* Safari, Android, iOS */
    url("https://scrollif-assets.netlify/websites/fonts/Quicksand-Regular/fonts/Quicksand.woff") format("woff"), /* Modern Browsers */
    url("https://scrollif-assets.netlify/websites/fonts/Quicksand-Regular/fonts/Quicksand.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}