@font-face {
	font-family:"Bebas";
	src:url('https://blakedavies-assets.netlify.com/fonts/Bebas/Bebas.eot');
	src:url('https://blakedavies-assets.netlify.com/fonts/Bebas/Bebas.eot?#iefix') format('embedded-opentype'),
	url('https://blakedavies-assets.netlify.com/fonts/Bebas/Bebas.woff2') format('woff2'),
	url('https://blakedavies-assets.netlify.com/fonts/Bebas/Bebas.woff') format('woff'),
	url('https://blakedavies-assets.netlify.com/fonts/Bebas/Bebas.ttf') format('truetype'),
	url('https://blakedavies-assets.netlify.com/fonts/Bebas/Bebas.svg#svgFontName') format('svg');
}
@font-face {
	font-family:"Quicksand";
	src:url('https://blakedavies-assets.netlify.com/fonts/Quicksand/Quicksand.eot');
	src:url('https://blakedavies-assets.netlify.com/fonts/Quicksand/Quicksand.eot?#iefix') format('embedded-opentype'),
	url('https://blakedavies-assets.netlify.com/fonts/Quicksand/Quicksand.woff2') format('woff2'),
	url('https://blakedavies-assets.netlify.com/fonts/Quicksand/Quicksand.woff') format('woff'),
	url('https://blakedavies-assets.netlify.com/fonts/Quicksand/Quicksand.ttf') format('truetype'),
	url('https://blakedavies-assets.netlify.com/fonts/Quicksand/Quicksand.svg#svgFontName') format('svg');
} 