/* SITEMAP & FOOTER ICONS */
		
	@media only screen and (min-width: 540px) {
		footer div.max-width-container ul div.line-break-box {
			flex-basis: 50%;
		}
		footer div.max-width-container div.max-width-container-half ul {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
	}