:root{
	/* HEADER */
		--header-bgcolor: var(--color-white);
		--header-box-shadow: var(--box-shadow); /* 'none' or '[var(--)]' */
		--header-position: fixed; /* 'sitcky' or 'fixed' */
		--logo-name-color: var(--color-black);
		--logo-name-font-family: var(--font-primary);
		--logo-name-font-size: 20px;
		--logo-name-word-spacing: normal; /* 'normal' or '[value]' */
		--logo-name-letter-spacing: 2.5px; /* 'normal' or '[value]' */
	/* NAVBARS */
		/* ALL NAVBARS */
			--navbar-font-family: var(--font-primary);
			--navbar-font-size: var(--font-m);
			--navbar-color: var(--color-black);
			--navbar-word-spacing: 2.5px; /* 'normal' or '[value]' */
			--navbar-letter-spacing: normal; /* 'normal' or '[value]' */
			--navbar-submenu-font-family: var(--font-primary);
			--navbar-submenu-font-size: var(--font-xs);
			--navbar-submenu-color: var(--color-dark-grey);
			--navbar-hover-color: var(--color-primary);
			--navbar-current-page-color: var(--navbar-hover-color);
			--navbar-menu-icon-bgcolor: var(--color-black);
			--navbar-slider-bgcolor: var(--header-bgcolor);
		/* BUTTONS SIMPLE & BUTTONS UNDERLINE */
			--navbar-submenu-bgcolor: var(--color-white);
			--navbar-submenu-box-shadow: var(--box-shadow-bottom); /* 'none' or '[var(--)]' */
		/* BUTTONS UNDERLINE */
			--navbar-buttons-underline-thickness: 2px;
			--navbar-buttons-underline-color: var(--navbar-hover-color);
			--navbar-current-page-underline-color: var(--navbar-buttons-underline-color);
		/* BUTTONS BLOCK */
			--navbar-buttons-bgcolor: var(--color-white);
			--navbar-buttons-border-thickness: 2px;
			--navbar-buttons-border-radius: 500px;
			--navbar-buttons-border-color: var(--color-black);
			--navbar-submenu-buttons-bgcolor: var(--navbar-buttons-bgcolor);
			--navbar-submenu-buttons-border-color: var(--color-dark-grey);
			--navbar-current-page-border-color: var(--navbar-current-page-color);
			--navbar-buttons-border-hover-color: var(--navbar-hover-color);
			--navbar-buttons-box-shadow: var(--box-shadow-bottom-right); /* 'none' or '[var(--)]' */
}


/* HEADERS */
	header  {
		position: var(--header-position);
		width: 100%;
		z-index: 9997;
		background-color: var(--header-bgcolor);
		padding: 15px;
		box-shadow: var(--header-box-shadow);
	}
	header .logo {
		width: auto;
		height: 40px;
		margin-right: 5px;
		vertical-align: bottom;
		line-height: 1;
	}
	header .logo-name {
		color: var(--logo-name-color);
		font-family: var(--logo-name-font-family);
		font-size: var(--logo-name-font-size);
		word-spacing: var(--logo-name-word-spacing);
		letter-spacing: var(--logo-name-letter-spacing);
		padding-left: var(--logo-name-letter-spacing);
		display: inline;
		vertical-align: bottom;
		line-height: 1;
	}
/* NAVBARS */
	/* ALL NAVBARS */
		nav {
			font-family: var(--navbar-font-family);
			font-size: var(--navbar-font-size);
			color: var(--navbar-color);
			word-spacing: var(--navbar-word-spacing);
			letter-spacing: var(--navbar-letter-spacing);
		}
		nav a {
			padding-left: var(--navbar-letter-spacing);
		}
		nav .current-page {
			color: var(--navbar-current-page-color);
		}
		html:not(.can-touch) nav a:hover, 
		html:not(.can-touch) nav a:focus {
			color: var(--navbar-hover-color);
		}
		nav ul:focus-within a {
			outline: none;
		}
		nav .submenu {
			display: flex;
			flex-direction: column;
			font-family: var(--navbar-submenu-font-family);
			font-size: var(--navbar-submenu-font-size);
			color: var(--navbar-submenu-color);
		}
		/* BUTTONS SIMPLE */
			header.navbar-buttons-simple nav .submenu {
				background-color: var(--navbar-submenu-bgcolor);
			}
		/* BUTTONS UNDERLINE */
			header.navbar-buttons-underline nav .submenu {
				background-color: var(--navbar-submenu-bgcolor);
			}
			header.navbar-buttons-underline nav a {
				display: inline-block;
				border-bottom: solid var(--navbar-buttons-underline-thickness) var(--header-bgcolor);
			}	
			header.navbar-buttons-underline nav .current-page {
				border-color: var(--navbar-current-page-underline-color);
			}
			html:not(.can-touch) header.navbar-buttons-underline nav a:hover, 
			html:not(.can-touch) header.navbar-buttons-underline nav a:focus {
				border-bottom: solid var(--navbar-buttons-underline-thickness) var(--navbar-buttons-underline-color);
			}		
		/* BUTTONS BLOCK */
			header.navbar-buttons-block nav .current-page {
				border-color: var(--navbar-current-page-border-color);
			}
			header.navbar-buttons-block nav a {
				background-color: var(--navbar-buttons-bgcolor);
				box-shadow: var(--navbar-buttons-box-shadow);
				border: solid var(--navbar-buttons-border-thickness) var(--navbar-buttons-border-color);
				-webkit-border-radius: var(--navbar-buttons-border-radius);
				-moz-border-radius: var(--navbar-buttons-border-radius);
				-o-border-radius: var(--navbar-buttons-border-radius);
				-ms-border-radius: var(--navbar-buttons-border-radius);
				border-radius: var(--navbar-buttons-border-radius);
			}
			header.navbar-buttons-block nav .submenu a {
				background-color: var(--navbar-submenu-buttons-bgcolor);
				border: solid var(--navbar-buttons-border-thickness) var(--navbar-submenu-buttons-border-color);
			}
			html:not(.can-touch) header.navbar-buttons-block nav a:hover, 
			html:not(.can-touch) header.navbar-buttons-block nav a:focus {
				border-color: var(--navbar-buttons-border-hover-color);
			}
	/* NAVBAR STATIC */
		nav.navbar-static {
			display: none;
		}
		nav.navbar-static img {
			vertical-align: bottom;
		}
		nav.navbar-static {
			vertical-align: bottom;
			line-height: 1;
		}
		nav.navbar-static .submenu {
			visibility: hidden;
			opacity: 0;
			position: absolute;
		}
		html:not(.can-touch) nav.navbar-static .submenu-trigger:hover + .submenu,
		html:not(.can-touch) nav.navbar-static .submenu-trigger:focus + .submenu  {
			opacity: 1;
			visibility: visible;
		}
		html:not(.can-touch) nav.navbar-static .submenu:hover,
		html:not(.can-touch) nav.navbar-static .submenu:focus {
			visibility: visible;
			opacity: 1;
		}
		html:not(.can-touch) nav.navbar-static .submenu:focus-within {
			opacity: 1;
			visibility: visible;
		}
		/* SUBSUBMENU */
			header.navbar-buttons-simple nav .subsubmenu {
				background-color: var(--navbar-submenu-bgcolor);
			}
			nav .subsubmenu {
				display: flex;
				flex-direction: column;
				font-family: var(--navbar-submenu-font-family);
				font-size: var(--navbar-submenu-font-size);
				color: var(--navbar-submenu-color);
			}
			nav.navbar-static .subsubmenu {
				visibility: hidden;
				opacity: 0;
				position: absolute;
			}
			html:not(.can-touch) nav.navbar-static .subsubmenu-trigger:hover + .subsubmenu,
			html:not(.can-touch) nav.navbar-static .subsubmenu-trigger:focus + .subsubmenu  {
				opacity: 1;
				visibility: visible;
			}
			html:not(.can-touch) nav.navbar-static .subsubmenu:hover,
			html:not(.can-touch) nav.navbar-static .subsubmenu:focus {
				visibility: visible;
				opacity: 1;
			}
			html:not(.can-touch) nav.navbar-static .subsubmenu:focus-within {
				opacity: 1;
				visibility: visible;
			}



		/* BUTTONS SIMPLE */
			header.navbar-buttons-simple nav.navbar-static .submenu {
				box-shadow: var(--navbar-submenu-box-shadow);
			}
			header.navbar-buttons-simple nav.navbar-static a {
				padding: 0 1.5rem;
			}
			header.navbar-buttons-simple nav.navbar-static .submenu {
				padding: 1rem 0.5rem 0.5rem;
			}
			header.navbar-buttons-simple nav.navbar-static .submenu a {
				padding: 1rem;
			}
		/* BUTTONS UNDERLINE */
			header.navbar-buttons-underline nav.navbar-static li {
				padding: 0 0.5rem;
			}
			header.navbar-buttons-underline nav.navbar-static a {
				padding: 0.75rem 1rem;
			}
			header.navbar-buttons-underline nav.navbar-static .submenu {
				box-shadow: var(--navbar-submenu-box-shadow);
				padding: 1rem 0.5rem 0.5rem;
			}
			header.navbar-buttons-underline nav.navbar-static .submenu li {
				padding: 0.5rem 0.5rem;
				
			}
		/* BUTTONS BLOCK */
			header.navbar-buttons-block nav.navbar-static li {
				padding: 0 0.5rem;
			}
			header.navbar-buttons-block nav.navbar-static a {
				padding: 0.75rem 1.25rem;
			}
			header.navbar-buttons-block nav.navbar-static .submenu {
				padding: 0.5rem 0;
			}
			header.navbar-buttons-block nav.navbar-static .submenu li {
				padding: 0.5rem 0;
			}
	/* NAVBAR MEDIA QUERIES [STATIC > SLIDER] */
		@media only screen and (min-width: 1024px) {
			div.menu-icon {
				display: none;
			}
			nav.navbar-static {
				display: inline-flex;
			}
		}
	/* NAVBAR ICONS */
		/* ALL ICONS */
			div.menu-icon {
				position: relative;
				height: 20px;
				width: 24px;
				cursor: pointer;
			}
			body.nojs div.menu-icon {
				display: none;
			}
			div.menu-icon span {
				position: absolute;
				background-color: var(--navbar-menu-icon-bgcolor);
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-o-border-radius: 5px;
				-ms-border-radius: 5px;
				border-radius: 5px;
				-webkit-transition: 0.5s ease;
				-moz-transition: 0.5s ease;
				-o-transition: 0.5s ease;
				-ms-transition: 0.5s ease;
				transition: 0.5s ease;
			}
		/* HAMBURGER ICON */
			div.hamburger-icon span {
				right: 0;
				height: 4px;
				width: 100%;
			}
			div.hamburger-icon span:nth-child(1) {
				bottom: 0;
			}
			div.hamburger-icon span:nth-child(2),
			div.hamburger-icon span:nth-child(3) {
				bottom: 8px;
			}
			div.hamburger-icon span:nth-child(4) {
				bottom: 16px;
			}
			div.hamburger-icon.open span:nth-child(1),
			div.hamburger-icon.open span:nth-child(4) {
				bottom: 8px;
				width: 0%;
				right: 50%;
			}
			div.hamburger-icon.open span:nth-child(2) {
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				transform: rotate(135deg);
			}
			div.hamburger-icon.open span:nth-child(3) {
				-webkit-transform: rotate(-135deg);
				-moz-transform: rotate(-135deg);
				-o-transform: rotate(-135deg);
				-ms-transform: rotate(-135deg);
				transform: rotate(-135deg);
			}
	/* NAVBAR SLIDERS*/
		nav.navbar-slider {
			position: absolute;
			right: -15px;
			top: 55px;
			height: calc(100vh - 70px);
			width: 100vw;
			background-color: var(--navbar-slider-bgcolor);
			visibility: hidden;
			-webkit-transform: translateX(100%);
			-moz-transform: translateX(100%);
			-o-transform: translateX(100%);
			-ms-transform: translateX(100%);
			transform: translateX(100%);
			-webkit-transition: transform 0.5s ease, visibility 0.5s linear;
			-moz-transition: transform 0.5s ease, visibility 0.5s linear;
			-o-transition: transform 0.5s ease, visibility 0.5s linear;
			-ms-transition: transform 0.5s ease, visibility 0.5s linear;
			transition: transform 0.5s ease, visibility 0.5s linear;
		}
		nav.navbar-slider.open {
			visibility: visible;
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-o-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}
		@media screen and (orientation: landscape) {
			nav.navbar-slider {
				justify-content: center;
			}
			nav.navbar-slider ul.centered-box {
				flex-direction: row;
				flex-grow: 0;
			}
			nav.navbar-slider ul.centered-box li {
				flex-grow: 1;
			}
		}
		/* BUTTONS SIMPLE */
			header.navbar-buttons-simple nav.navbar-slider a {
				padding: 1.5rem;
			}	
			header.navbar-buttons-simple nav.navbar-slider .submenu a {
				padding: 1rem;
			}
		/* BUTTONS UNDERLINE */
			header.navbar-buttons-underline nav.navbar-static .submenu a {
				padding: 0.5rem 0;
			}
			header.navbar-buttons-underline nav.navbar-slider a {
				padding: 0.75rem;
			}
			header.navbar-buttons-underline nav.navbar-slider .submenu li {
				padding: 0.5rem 0.5rem;
			}
			header.navbar-buttons-underline nav.navbar-slider .submenu a {
				padding: 0.5rem 0.75rem;
			}
		/* BUTTONS BLOCK */
			header.navbar-buttons-block nav.navbar-slider li {
				padding: 0.5rem 0;
			}
			header.navbar-buttons-block nav.navbar-slider a {
				padding: 0.75rem 1.25rem;
			}
			header.navbar-buttons-block nav.navbar-slider .submenu {
				padding: 0.5rem 0 0;
			}
			header.navbar-buttons-block nav.navbar-slider .submenu li {
				padding: 0.25rem 1rem;
			}
			@media screen and (orientation: landscape) {
				header.navbar-buttons-block nav.navbar-slider li {
					padding: 0.5rem;
				}
				header.navbar-buttons-block nav.navbar-slider .submenu li {
					padding: 0.25rem 0;
				}
			}