	.line-height-0 {
		line-height: 0;
	}
	.text-center {
		text-align: center;
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	.underline {
		text-decoration:underline;			
	}
	.font-weight-100 {
		font-weight: 100;
	}
	.font-weight-400 {
		font-weight: 400;
	}
	.font-weight-800 {
		font-weight: 800;
	}
/* WIDTH & HEIGHT */
	.width-full {
		width: 100%;
	}
	.width-auto {
		width: auto;
	}
	.width-screen {
		width: 100vh;
	}
	.height-full {
		height: 100%;
	}
	.height-auto {
		height: auto;
	}
	.height-screen {
		height: 100vh;
	}
/* CONTAINERS ETC. */
	div.max-width-container {
		width: 100%;
		max-width: var(--max-width-container);
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	div.max-width-container-half {
			width: 100%;
			max-width: calc(var(--max-width-container) / 2);
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}
/* Z-INDEX */
	.z-9999{
		z-index: 9999;
	}
	.z-9998{
		z-index: 9998;
	}
	.z-9997{
		z-index: 9997;
	}
/* DISPLAY */
	.block {
		display: block;
	}
	.inline-block {
		display: inline-block;
	}
	.inline {
		display: inline;
	}
	.none {
			display: none;
	}
	.invisible {
		visibility: hidden;
		opacity: 0;
	}
/* POSITION */
	.fixed {
		position: fixed;
	}
	.absolute {
		position: absolute;
	}
	.relative {
		position: relative;
	}
	.top-0 {
		top: 0;
	}
	.right-0 {
		right: 0;
	}
	.bottom-0 {
		bottom: 0;
	}
	.left-0 {
		left: 0;
	}
/* FLEXBOX */
	.flex {
		display: flex;
	}
	.inline-flex {
		display: inline-flex;
	}
	.flex-row {
		flex-direction: row;
	}
	.flex-row-rev {
		flex-direction: row-reverse;
	}
	.flex-col {
		flex-direction: column;
	}
	.flex-col-rev {
		flex-direction: column-reverse;
	}
	.flex-no-wrap {
		flex-wrap: nowrap;
	}
	.flex-wrap {
		flex-wrap: wrap;
	}
	.flex-wrap-rev {
		flex-wrap: wrap-reverse;
	}
	.justify-start {
		justify-content: flex-start;
	}
	.justify-center {
		justify-content: center;
	}
	.justify-end {
		justify-content: flex-end;
	}
	.justify-between {
		justify-content: space-between;
	}
	.justify-around {
		justify-content: space-around;
	}
	.items-stretch {
		align-items: stretch;
	}
	.items-start {
		align-items: flex-start;
	}
	.items-center {
		align-items: center;
	}
	.items-end {
		align-items: flex-end;
	}
	.items-baseline {
		align-items: baseline;
	}
	.content-start {
		align-content: flex-start;
	}
	.content-center {
		align-content: center;
	}
	.content-end {
		align-content: flex-end;
	}
	.content-between {
		align-content: space-between;
	}
	.content-around {
		align-content: space-around;
	}
	.self-auto {
		align-self: auto;
	}
	.self-start {
		align-self: flex-start;
	}
	.self-center {
		align-self: center;
	}
	.self-end {
		align-self: flex-end;
	}
	.self-stretch {
		align-self: stretch;
	}
	.flex-initial {
		flex: initial;
	}
	.flex-1 {
		flex: 1;
	}
	.flex-auto {
		flex: auto;
	}
	.flex-none {
		flex: none;
	}
	.flex-grow-0 {
		flex-grow: 0;
	}
	.flex-grow-1 {
		flex-grow: 1;
	}
	.flex-shrink-0 {
		flex-shrink: 0;
	}
	.flex-shrink-1 {
		flex-shrink: 1;
	}
	.flex-basis-fifth {
		flex-basis:20%;
	}
	.flex-basis-quarter {
		flex-basis:25%;
	}
	.flex-basis-third {
		flex-basis:33.33%;
	}
	.flex-basis-half {
		flex-basis:50%;
	}
	.flex-basis-full {
		flex-basis:100%;
	}
/* BORDERS & BOX-SHADOWS */
	.border-radius-circle {
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		-o-border-radius:50%;
		-ms-border-radius:50%;
		border-radius:50%;
	}
	.border-radius-max {
		-webkit-border-radius:500px;
		-moz-border-radius:500px;
		-o-border-radius:500px;
		-ms-border-radius:500px;
		border-radius:500px;
	}
	.box-shadow {
		box-shadow: var(--box-shadow);
	}
	.box-shadow-bottom {
		box-shadow: var(--box-shadow-bottom);
	}
	.box-shadow-bottom-right {
		box-shadow: var(--box-shadow-bottom-right);
	}
/* TRANSITIONS */
	* {
		-webkit-transition: background-color var(--transition-speed) linear, color var(--transition-speed) linear, border-color var(--transition-speed) linear, visibility var(--transition-speed) linear, opacity var(--transition-speed) linear;
		-moz-transition: background-color var(--transition-speed) linear, color var(--transition-speed) linear, border-color var(--transition-speed) linear, visibility var(--transition-speed) linear, opacity var(--transition-speed) linear;
		-o-transition: background-color var(--transition-speed) linear, color var(--transition-speed) linear, border-color var(--transition-speed) linear, visibility var(--transition-speed) linear, opacity var(--transition-speed) linear;
		-ms-transition: background-color var(--transition-speed) linear, color var(--transition-speed) linear, border-color var(--transition-speed) linear, visibility var(--transition-speed) linear, opacity var(--transition-speed) linear;
		transition: background-color var(--transition-speed) linear, color var(--transition-speed) linear, border-color var(--transition-speed) linear, visibility var(--transition-speed) linear, opacity var(--transition-speed) linear;
	}
/* TRANSITION & HOVER STATES */
	.cursor-pointer {
		cursor:pointer;
	}
	.no-focus:focus-within a {
			outline: none;
	}
