<!DOCTYPE html>
<html lang="en-us">

<head>

	<!-- META TAGS -->

		<!-- Meta Tag are referenced from scrollif-assets and populated using Site Variables from _congif.yml and page's YAML Front Matter -->

			{% capture meta-tags-html %}
				{% remote_include https://scrollif-assets.netlify.app/websites/html/meta-tags.html %}
			{% endcapture %}

			{{ meta-tags-html | liquify }}

	<!-- ASSETS --> 

		<!-- Local CSS files stored in _saas folder and external CSS files from scrollif-assets are compiled into a single CSS file (concatenated.scss) before being processed, minimising HTTP requests -->

			<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/concatenated.css"/>
		
		<!-- TO DO - CAN THIS BE LOADED USING REMOTE INCLUDE IN CONCATENATED.JS MAYBE? -->
		
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
		
		<!-- External JS scripts from scrollif-assets are compiled into a single JS script (concatenated.js) before being processed, minimising HTTP requests -->

			<script src="{{ site.url }}/assets/js/concatenated.js" type="text/javascript"></script>
		

	<!-- STYLES -->

		<!-- Declare site URL variable for CSS to reference (sass does not support site level liquid tags) -->

			<style>
				:root {
					--site-url: {{ site.url }};
				}
			</style>

</head>

<body class="no-js"> <!-- Prepend body.no-js to fallback CSS classes for all cases where JS is used for browsers or cases where scripts aren't automatically run.  This class is removed using JS on document ready state-->

	<!-- HEADER TESTING -->	

		{% capture header-html %}
			{% remote_include https://scrollif-assets.netlify.app/websites/components/header/header.html %}
		{% endcapture %}

		{{ header-html | liquify }}
	

	{{ content }}


	<!-- POWERED-BY SCROLL IF -->

		<!-- Capture the current year, insert it into the included remote asset from scrollif-assets using the include parameter -->

			{% capture current-year %}
				{{ site.time | date: '%Y' }}
			{% endcapture %}
			
			{% assign powered-by-scroll-if-html = 'https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/html/powered-by-scroll-if.html' %}

			{% include_remote {{ powered-by-scroll-if-html }} published-year=current-year %}

</body>
</html> 