<!DOCTYPE html>
<html lang="en-us">

<head>

	{% include meta-data.html %}

	<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/concatenated.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
	
	<script src="{{ site.url }}/assets/js/concatenated.js" type="text/javascript"></script>

	<style>
		:root {
			--site-url: {{ site.url }};
		}
	</style>

</head>

<body class="no-js">

	{% remote_include https://scrollif-assets.netlify.com/websites/components/powered-by/html/powered-by.html date="2019" %}

</body>
</html> 